%section
  = image_tag "logo.png"
  
  %h3 Javascript "Transpiler"

  WDCM Dresden, 9th Nov

%section
  <iframe width="800" height="600" src="http://www.youtube.com/embed/_yZHbh396rc?feature=player_detailpage#t=82s" frameborder="0" allowfullscreen></iframe></iframe>

%section
  = image_tag "javascript_good_and_bad_parts.jpg"

%section
  .fragment= image_tag "to2.png"
  <script type="text/javascript" src="http://www.google.com/trends/embed.js?hl=de&q=coffeescript,+rails+3.1&cmpt=q&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=500&h=330"></script></script>

%section
  %section
    %h2 Syntax
  %section
    %h2 Literale / Strukturen
    .editor-content
      :preserve
        a = 2

        # if a? and a == 2
        #   console.log "a is 2"
        # else
        #   console.log "it's not"
  %section
    %h2 Objekte / Funktionen
    .editor-content
      :preserve
        math = 
          PI: 3.1415926
          square: (x) ->
            return x * x
          # circleUmfang: (radius) ->

        math.square 4
          
  %section
    %h2 Klassen
    .editor-content
      :preserve
        class User
          constructor: (name) ->
            this.name = name
            
          greet: -> 
            return "Hello " + this.name
            
        # user = new User("stefan")
        # user.greet()

  %section
    %h2 jQuery &amp; co
    .editor-content
      :preserve
        jQuery ->
          #
  %section 

    %h2 More...
    .editor-content
      :preserve
        if a?.has(":something")?
          console.log "..."
  %section 

    %h2 Rückgabewerte
    .editor-content
      :preserve
        calculate = ->
          # do something
          12 + 14

        calculate()
  %section
    .fragment
      %h3 Chainable Comparison
    .editor-content
      :preserve
        = "if 2 < a < 5"
        = "  a in range (2,5)"
  %section
    .fragment
      %h3 Expressions everywhere
    .editor-content
      :preserve
        value = if a?
          42
        else
          23

          
          
%section
  %section
    %h2 Tool-Support
  %section
    %h3 Als Javascript (Spielen)

    %pre.hightlight(class="html")
      :preserve
        <script type="text/coffeescript">
        jQuery ->
          if coffeescript.isAwesome?
            console.log "Yeah"
        </script>
        <script src="http://coffeescript.org/extras/coffee-script.js"></script>
    %section
      %h3 binary

      Installation z.B. mit npm:
      %pre
        npm install -g coffee-script

      Binary kompiliert Coffeescript:
      %pre
        coffee input.coffee output.js
        
        coffee watch
    %section
      %h3 Automatisch
      %ul
        %li Yeoman
        %li Middleman
        %li Guard-coffee
        %li LiveReload, CodeKit
    %section
      %h3 Webframeworks
      %ul
        %li Rails 3.1+ Asset pipeline
        %li Sinatra, Django, Drupal, Symfony2,...

    %section
      %h3 Editor
      %ul
        %li vim, eclipse, sublime, netbeans,...




%section
  %section
    %h2 Warum?

    %blockquote 
      The compiled output is <strong>readable</strong> and pretty-printed, passes through <strong>JavaScript Lint without warnings</strong>, will work in every JavaScript runtime, and tends to <strong>run as fast or faster</strong> than the equivalent handwritten JavaScript. 
    Coffeescript-Dokumentation
  %section
    %blockquote
      Write new JS in CoffeeScript.
    Github <strong>Javascript</strong>-Styleguide
  %section
    Dropbox
    %blockquote
      Dropbox now writes all new browser-side code in CoffeeScript, and we’ve been loving it. [...]
      %br
      In the process of converting, we shaved off more than 5000 lines of code, a 21% reduction. 


    https://tech.dropbox.com/?p=361
%section
  %section
    %h2 Warum nicht?

    %h3 Geschmackssache: Einrückung als Syntax
  %section
    %h3 Komplexerer Build-Prozess
    .fragment 
      Abhilfe schafft 
      %code coffee watch
  %section
    %h3 Debugging: Zeilennummern matchen nicht mit Fehlermeldung
    .fragment 
      &rarr; Source Maps in Chrome
      %br
      %small Auch zum Debugging von minified JS
  %section
    %h3 Alternativen
    %ul
      %li 
        Typescript 
        %i Microsoft
        .fragment
          "Enterprisey"
      %li 
        Dart
        %i Google


%section
  %section
    %h2 Ressourcen
  %section
    =link_to "http://coffeescript.org/"
    %iframe(src="http://coffeescript.org/" width=990 height=600)

  %section
    =link_to "http://coffeescriptcookbook.com"
    %iframe(src="http://coffeescriptcookbook.com/" width=990 height=600)

%section
  %h2 me
  %p 
    Stefan Wienert
    %br
    = link_to "@stefanwienert", "https://twitter.com/stefanwienert"
    %br
    = link_to "stefanwienert.net", "http://www.stefanwienert.net"
  %h2 Credits
  %ul
    %li
      = link_to "reveal.js", "http://lab.hakim.se/reveal-js"
      Presi-Framework
    %li
      = link_to "Bodil.org - Coffeescript", "http://bodil.org/coffeescript"
      Inspiration des Live-Editor
